@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);;
}

html, body {
  min-height: 100vh;
}

body {
  /* background-image: url('../../static/golden-shoe-background.jpg');
  background-repeat: no-repeat, repeat; */
  background-color: white;
  background-size: cover;
  margin: 10px;
}

p {
  line-height: 2em;
  font-size: 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 4em;
  background-color: white;
  border-top: 1px solid black;
}

/* layout & nav */

.topnav, footer {
  font-size: 1.3em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px auto;
}

nav a, footer a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover, footer a:hover, .project-title:hover {
  border-color: black;
  cursor: pointer;
}

/* PRODUCTS PAGE */
.shoe-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  gap: 10px;
}
.shoe {
  list-style-type: none;
  background-color: #E9E8EB;
}

/* CONTACT FORM */
.top-of-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type=submit] {
  background-color: yellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], input[type=number], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container{
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.583);
  border: 1px solid black;
  padding: 20px;
  width: 30em;
}

.wrapper {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: rgb(168, 145, 12);
}

.sub-title {
  display: inherit;
}

.input-text {
  font-size: 1em;
  font-weight: bold;
}

/* RESPONSIVENESS */

/* @media screen and (max-width: 1250px) {
  .quote {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .screenshots {
    display: none;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    width: minmax(100, 500);
  }
  
} */

