@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);;
}
html, body {
  min-height: 100vh;
}
body {
  background: white;
  background-repeat: no-repeat;
  margin: 10px;
}

p {
  line-height: 2em;
  font-size: 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 4em;
  background-color: white;
  border-top: 1px solid black;
}

/* layout & nav */

.topnav, footer {
  font-size: 1.3em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 35px auto;
}

nav a, footer a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover, footer a:hover, .project-title:hover {
  border-color: black;
  background-color: yellow;
  cursor: pointer;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.intro {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 50px;
}

.picture-of-me {
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

/* PROJECTS AND PORTFOLIO */

.project, .project-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: minmax(50, auto)
}

.about-body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about-me {
  /* margin-right: 30px;
  margin-top: 30px; */
  max-width: 30em;
}
.screenshots {
  display: flex;
}

.app-screenshots {
  width: 60em;
  height: 30em;
  object-fit: contain;
}

.project-nav {
  display: flex;
  justify-content: center;
}

.project-titles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.4em;
}

.project-subtitles {
  font-size: 1.2em;
}

/* CONTACT FORM */


input[type=submit] {
  background-color: yellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], input[type=number], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container {
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.583);
  border: 1px solid black;
  padding: 20px;
  width: 30em;
}

.wrapper {
  height: 30em;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.title {
  font-size: 4em;
  text-align: center;
}

.input-text {
  font-size: 1.5em;
  font-weight: bold;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1250px) {
  .quote {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .screenshots {
    display: none;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    width: minmax(100, 500);
  }
  /* .project-body {
    display: flex;
    justify-content: center;
  } */
  
}

@media screen and (max-width: 685px) {
  .picture-of-me {
    display: none;
  }
  .intro {
    display: none;
  }
 
}
